form,
nav,
header {
  display: none !important; }

.navigation-bar {
  display: none !important; }

.cd-titlebar {
  display: none !important; }

.print-only, .show-for-print {
  display: block !important; }

.columns {
  position: relative !important;
  padding-left: 0.625rem !important;
  padding-right: 0.625rem !important;
  float: left; }

#eoc-dashboard-dashboard {
  width: 1425px !important; }
  #eoc-dashboard-dashboard .medium-1 {
    width: 60% !important; }
  #eoc-dashboard-dashboard .medium-2 {
    width: 60% !important; }
  #eoc-dashboard-dashboard .medium-3 {
    width: 60% !important; }
  #eoc-dashboard-dashboard .medium-4 {
    width: 60% !important; }
  #eoc-dashboard-dashboard .medium-5 {
    width: 60% !important; }
  #eoc-dashboard-dashboard .medium-6 {
    width: 60% !important; }
  #eoc-dashboard-dashboard .medium-7 {
    width: 60% !important; }
  #eoc-dashboard-dashboard .medium-8 {
    width: 100% !important; }

#management-dashboard {
  width: 1425px !important; }
  #management-dashboard .medium-1 {
    width: 12.5% !important; }
  #management-dashboard .medium-2 {
    width: 25% !important; }
  #management-dashboard .medium-3 {
    width: 37.5% !important; }
  #management-dashboard .medium-4 {
    width: 50% !important; }
  #management-dashboard .medium-5 {
    width: 62.5% !important; }
  #management-dashboard .medium-6 {
    width: 75% !important; }
  #management-dashboard .medium-7 {
    width: 87.5% !important; }
  #management-dashboard .medium-8 {
    width: 100% !important; }

#nco-dashboard, #district-dashboard, .cd-charts, .layout-basic {
  width: 1425px !important; }
  #nco-dashboard .large-1, #nco-dashboard .medium-1, #nco-dashboard .small-1, #district-dashboard .large-1, #district-dashboard .medium-1, #district-dashboard .small-1, .cd-charts .large-1, .cd-charts .medium-1, .cd-charts .small-1, .layout-basic .large-1, .layout-basic .medium-1, .layout-basic .small-1 {
    width: 8.33333% !important; }
  #nco-dashboard .large-2, #nco-dashboard .medium-2, #nco-dashboard .small-2, #district-dashboard .large-2, #district-dashboard .medium-2, #district-dashboard .small-2, .cd-charts .large-2, .cd-charts .medium-2, .cd-charts .small-2, .layout-basic .large-2, .layout-basic .medium-2, .layout-basic .small-2 {
    width: 16.66667% !important; }
  #nco-dashboard .large-3, #nco-dashboard .medium-3, #nco-dashboard .small-3, #district-dashboard .large-3, #district-dashboard .medium-3, #district-dashboard .small-3, .cd-charts .large-3, .cd-charts .medium-3, .cd-charts .small-3, .layout-basic .large-3, .layout-basic .medium-3, .layout-basic .small-3 {
    width: 25% !important; }
  #nco-dashboard .large-4, #nco-dashboard .medium-4, #nco-dashboard .small-4, #district-dashboard .large-4, #district-dashboard .medium-4, #district-dashboard .small-4, .cd-charts .large-4, .cd-charts .medium-4, .cd-charts .small-4, .layout-basic .large-4, .layout-basic .medium-4, .layout-basic .small-4 {
    width: 33.33333% !important; }
  #nco-dashboard .large-5, #nco-dashboard .medium-5, #nco-dashboard .small-5, #district-dashboard .large-5, #district-dashboard .medium-5, #district-dashboard .small-5, .cd-charts .large-5, .cd-charts .medium-5, .cd-charts .small-5, .layout-basic .large-5, .layout-basic .medium-5, .layout-basic .small-5 {
    width: 41.66667% !important; }
  #nco-dashboard .large-6, #nco-dashboard .medium-6, #nco-dashboard .small-6, #district-dashboard .large-6, #district-dashboard .medium-6, #district-dashboard .small-6, .cd-charts .large-6, .cd-charts .medium-6, .cd-charts .small-6, .layout-basic .large-6, .layout-basic .medium-6, .layout-basic .small-6 {
    width: 50% !important; }
  #nco-dashboard .large-7, #nco-dashboard .medium-7, #nco-dashboard .small-7, #district-dashboard .large-7, #district-dashboard .medium-7, #district-dashboard .small-7, .cd-charts .large-7, .cd-charts .medium-7, .cd-charts .small-7, .layout-basic .large-7, .layout-basic .medium-7, .layout-basic .small-7 {
    width: 58.33333% !important; }
  #nco-dashboard .large-8, #nco-dashboard .medium-8, #nco-dashboard .small-8, #district-dashboard .large-8, #district-dashboard .medium-8, #district-dashboard .small-8, .cd-charts .large-8, .cd-charts .medium-8, .cd-charts .small-8, .layout-basic .large-8, .layout-basic .medium-8, .layout-basic .small-8 {
    width: 66.66667% !important; }
  #nco-dashboard .large-9, #nco-dashboard .medium-9, #nco-dashboard .small-9, #district-dashboard .large-9, #district-dashboard .medium-9, #district-dashboard .small-9, .cd-charts .large-9, .cd-charts .medium-9, .cd-charts .small-9, .layout-basic .large-9, .layout-basic .medium-9, .layout-basic .small-9 {
    width: 75% !important; }
  #nco-dashboard .large-10, #nco-dashboard .medium-10, #nco-dashboard .small-10, #district-dashboard .large-10, #district-dashboard .medium-10, #district-dashboard .small-10, .cd-charts .large-10, .cd-charts .medium-10, .cd-charts .small-10, .layout-basic .large-10, .layout-basic .medium-10, .layout-basic .small-10 {
    width: 83.33333% !important; }
  #nco-dashboard .large-11, #nco-dashboard .medium-11, #nco-dashboard .small-11, #district-dashboard .large-11, #district-dashboard .medium-11, #district-dashboard .small-11, .cd-charts .large-11, .cd-charts .medium-11, .cd-charts .small-11, .layout-basic .large-11, .layout-basic .medium-11, .layout-basic .small-11 {
    width: 91.66667% !important; }
  #nco-dashboard .large-12, #nco-dashboard .medium-12, #nco-dashboard .small-12, #district-dashboard .large-12, #district-dashboard .medium-12, #district-dashboard .small-12, .cd-charts .large-12, .cd-charts .medium-12, .cd-charts .small-12, .layout-basic .large-12, .layout-basic .medium-12, .layout-basic .small-12 {
    width: 100% !important; }
