/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
meta.foundation-version {
  font-family: "/5.5.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-small-only {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.0625em)/";
  width: 40.0625em; }

meta.foundation-mq-medium-only {
  font-family: "/only screen and (min-width:40.0625em) and (max-width:64em)/";
  width: 40.0625em; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.0625em)/";
  width: 64.0625em; }

meta.foundation-mq-large-only {
  font-family: "/only screen and (min-width:64.0625em) and (max-width:90em)/";
  width: 64.0625em; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.0625em)/";
  width: 90.0625em; }

meta.foundation-mq-xlarge-only {
  font-family: "/only screen and (min-width:90.0625em) and (max-width:120em)/";
  width: 90.0625em; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.0625em)/";
  width: 120.0625em; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

html, body {
  height: 100%; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  font-size: 100%; }

body {
  background: #FFFFFF;
  color: #333333;
  cursor: auto;
  font-family: proxima, Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 120%;
  margin: 0;
  padding: 0;
  position: relative; }

a:hover {
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

img {
  -ms-interpolation-mode: bicubic; }

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object,
.mqa-display img,
.mqa-display embed,
.mqa-display object {
  max-width: none !important; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.hide {
  display: none; }

.invisible {
  visibility: hidden; }

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  display: inline-block;
  vertical-align: middle; }

textarea {
  height: auto;
  min-height: 50px; }

select {
  width: 100%; }

@page {
  margin: 0; }

body {
  margin: 0.25in; }

form,
nav,
header {
  display: none !important; }

.navigation-bar {
  display: none !important; }

.cd-titlebar {
  display: none !important; }

.small-push-0 {
  position: relative;
  left: 0;
  right: auto; }

.small-pull-0 {
  position: relative;
  right: 0;
  left: auto; }

.small-push-1 {
  position: relative;
  left: 12.5%;
  right: auto; }

.small-pull-1 {
  position: relative;
  right: 12.5%;
  left: auto; }

.small-push-2 {
  position: relative;
  left: 25%;
  right: auto; }

.small-pull-2 {
  position: relative;
  right: 25%;
  left: auto; }

.small-push-3 {
  position: relative;
  left: 37.5%;
  right: auto; }

.small-pull-3 {
  position: relative;
  right: 37.5%;
  left: auto; }

.small-push-4 {
  position: relative;
  left: 50%;
  right: auto; }

.small-pull-4 {
  position: relative;
  right: 50%;
  left: auto; }

.small-push-5 {
  position: relative;
  left: 62.5%;
  right: auto; }

.small-pull-5 {
  position: relative;
  right: 62.5%;
  left: auto; }

.small-push-6 {
  position: relative;
  left: 75%;
  right: auto; }

.small-pull-6 {
  position: relative;
  right: 75%;
  left: auto; }

.small-push-7 {
  position: relative;
  left: 87.5%;
  right: auto; }

.small-pull-7 {
  position: relative;
  right: 87.5%;
  left: auto; }

.column,
.columns {
  position: relative;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  float: left; }

.small-1 {
  width: 12.5%; }

.small-2 {
  width: 25%; }

.small-3 {
  width: 37.5%; }

.small-4 {
  width: 50%; }

.small-5 {
  width: 62.5%; }

.small-6 {
  width: 75%; }

.small-7 {
  width: 87.5%; }

.small-8 {
  width: 100%; }

.small-offset-0 {
  margin-left: 0 !important; }

.small-offset-1 {
  margin-left: 12.5% !important; }

.small-offset-2 {
  margin-left: 25% !important; }

.small-offset-3 {
  margin-left: 37.5% !important; }

.small-offset-4 {
  margin-left: 50% !important; }

.small-offset-5 {
  margin-left: 62.5% !important; }

.small-offset-6 {
  margin-left: 75% !important; }

.small-offset-7 {
  margin-left: 87.5% !important; }

.small-reset-order {
  float: left;
  left: auto;
  margin-left: 0;
  margin-right: 0;
  right: auto; }

.column.small-centered,
.columns.small-centered {
  margin-left: auto;
  margin-right: auto;
  float: none; }

.column.small-uncentered,
.columns.small-uncentered {
  float: left;
  margin-left: 0;
  margin-right: 0; }

.column.small-centered:last-child,
.columns.small-centered:last-child {
  float: none; }

.column.small-uncentered:last-child,
.columns.small-uncentered:last-child {
  float: left; }

.column.small-uncentered.opposite,
.columns.small-uncentered.opposite {
  float: right; }

.row.small-collapse > .column,
.row.small-collapse > .columns {
  padding-left: 0;
  padding-right: 0; }

.row.small-collapse .row {
  margin-left: 0;
  margin-right: 0; }

.row.small-uncollapse > .column,
.row.small-uncollapse > .columns {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  float: left; }

.small-block-grid-1 > li {
  list-style: none;
  width: 100%; }
  .small-block-grid-1 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both; }

.small-block-grid-2 > li {
  list-style: none;
  width: 50%; }
  .small-block-grid-2 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both; }

.small-block-grid-3 > li {
  list-style: none;
  width: 33.33333%; }
  .small-block-grid-3 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both; }

.small-block-grid-4 > li {
  list-style: none;
  width: 25%; }
  .small-block-grid-4 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both; }

.small-block-grid-5 > li {
  list-style: none;
  width: 20%; }
  .small-block-grid-5 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both; }

.small-block-grid-6 > li {
  list-style: none;
  width: 16.66667%; }
  .small-block-grid-6 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both; }

.small-block-grid-7 > li {
  list-style: none;
  width: 14.28571%; }
  .small-block-grid-7 > li:nth-of-type(1n) {
    clear: none; }
  .small-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both; }

@media (min-width: 8in) {
  .medium-push-0 {
    position: relative;
    left: 0;
    right: auto; }
  .medium-pull-0 {
    position: relative;
    right: 0;
    left: auto; }
  .medium-push-1 {
    position: relative;
    left: 12.5%;
    right: auto; }
  .medium-pull-1 {
    position: relative;
    right: 12.5%;
    left: auto; }
  .medium-push-2 {
    position: relative;
    left: 25%;
    right: auto; }
  .medium-pull-2 {
    position: relative;
    right: 25%;
    left: auto; }
  .medium-push-3 {
    position: relative;
    left: 37.5%;
    right: auto; }
  .medium-pull-3 {
    position: relative;
    right: 37.5%;
    left: auto; }
  .medium-push-4 {
    position: relative;
    left: 50%;
    right: auto; }
  .medium-pull-4 {
    position: relative;
    right: 50%;
    left: auto; }
  .medium-push-5 {
    position: relative;
    left: 62.5%;
    right: auto; }
  .medium-pull-5 {
    position: relative;
    right: 62.5%;
    left: auto; }
  .medium-push-6 {
    position: relative;
    left: 75%;
    right: auto; }
  .medium-pull-6 {
    position: relative;
    right: 75%;
    left: auto; }
  .medium-push-7 {
    position: relative;
    left: 87.5%;
    right: auto; }
  .medium-pull-7 {
    position: relative;
    right: 87.5%;
    left: auto; }
  .column,
  .columns {
    position: relative;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    float: left; }
  .medium-1 {
    width: 12.5%; }
  .medium-2 {
    width: 25%; }
  .medium-3 {
    width: 37.5%; }
  .medium-4 {
    width: 50%; }
  .medium-5 {
    width: 62.5%; }
  .medium-6 {
    width: 75%; }
  .medium-7 {
    width: 87.5%; }
  .medium-8 {
    width: 100%; }
  .medium-offset-0 {
    margin-left: 0 !important; }
  .medium-offset-1 {
    margin-left: 12.5% !important; }
  .medium-offset-2 {
    margin-left: 25% !important; }
  .medium-offset-3 {
    margin-left: 37.5% !important; }
  .medium-offset-4 {
    margin-left: 50% !important; }
  .medium-offset-5 {
    margin-left: 62.5% !important; }
  .medium-offset-6 {
    margin-left: 75% !important; }
  .medium-offset-7 {
    margin-left: 87.5% !important; }
  .medium-reset-order {
    float: left;
    left: auto;
    margin-left: 0;
    margin-right: 0;
    right: auto; }
  .column.medium-centered,
  .columns.medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }
  .column.medium-uncentered,
  .columns.medium-uncentered {
    float: left;
    margin-left: 0;
    margin-right: 0; }
  .column.medium-centered:last-child,
  .columns.medium-centered:last-child {
    float: none; }
  .column.medium-uncentered:last-child,
  .columns.medium-uncentered:last-child {
    float: left; }
  .column.medium-uncentered.opposite,
  .columns.medium-uncentered.opposite {
    float: right; }
  .row.medium-collapse > .column,
  .row.medium-collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .row.medium-collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .row.medium-uncollapse > .column,
  .row.medium-uncollapse > .columns {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    float: left; }
  .medium-block-grid-1 > li {
    list-style: none;
    width: 100%; }
    .medium-block-grid-1 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }
  .medium-block-grid-2 > li {
    list-style: none;
    width: 50%; }
    .medium-block-grid-2 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }
  .medium-block-grid-3 > li {
    list-style: none;
    width: 33.33333%; }
    .medium-block-grid-3 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }
  .medium-block-grid-4 > li {
    list-style: none;
    width: 25%; }
    .medium-block-grid-4 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }
  .medium-block-grid-5 > li {
    list-style: none;
    width: 20%; }
    .medium-block-grid-5 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }
  .medium-block-grid-6 > li {
    list-style: none;
    width: 16.66667%; }
    .medium-block-grid-6 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }
  .medium-block-grid-7 > li {
    list-style: none;
    width: 14.28571%; }
    .medium-block-grid-7 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; } }

@media (min-width: 10.5in) {
  .large-push-0 {
    position: relative;
    left: 0;
    right: auto; }
  .large-pull-0 {
    position: relative;
    right: 0;
    left: auto; }
  .large-push-1 {
    position: relative;
    left: 12.5%;
    right: auto; }
  .large-pull-1 {
    position: relative;
    right: 12.5%;
    left: auto; }
  .large-push-2 {
    position: relative;
    left: 25%;
    right: auto; }
  .large-pull-2 {
    position: relative;
    right: 25%;
    left: auto; }
  .large-push-3 {
    position: relative;
    left: 37.5%;
    right: auto; }
  .large-pull-3 {
    position: relative;
    right: 37.5%;
    left: auto; }
  .large-push-4 {
    position: relative;
    left: 50%;
    right: auto; }
  .large-pull-4 {
    position: relative;
    right: 50%;
    left: auto; }
  .large-push-5 {
    position: relative;
    left: 62.5%;
    right: auto; }
  .large-pull-5 {
    position: relative;
    right: 62.5%;
    left: auto; }
  .large-push-6 {
    position: relative;
    left: 75%;
    right: auto; }
  .large-pull-6 {
    position: relative;
    right: 75%;
    left: auto; }
  .large-push-7 {
    position: relative;
    left: 87.5%;
    right: auto; }
  .large-pull-7 {
    position: relative;
    right: 87.5%;
    left: auto; }
  .column,
  .columns {
    position: relative;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    float: left; }
  .large-1 {
    width: 12.5%; }
  .large-2 {
    width: 25%; }
  .large-3 {
    width: 37.5%; }
  .large-4 {
    width: 50%; }
  .large-5 {
    width: 62.5%; }
  .large-6 {
    width: 75%; }
  .large-7 {
    width: 87.5%; }
  .large-8 {
    width: 100%; }
  .large-offset-0 {
    margin-left: 0 !important; }
  .large-offset-1 {
    margin-left: 12.5% !important; }
  .large-offset-2 {
    margin-left: 25% !important; }
  .large-offset-3 {
    margin-left: 37.5% !important; }
  .large-offset-4 {
    margin-left: 50% !important; }
  .large-offset-5 {
    margin-left: 62.5% !important; }
  .large-offset-6 {
    margin-left: 75% !important; }
  .large-offset-7 {
    margin-left: 87.5% !important; }
  .large-reset-order {
    float: left;
    left: auto;
    margin-left: 0;
    margin-right: 0;
    right: auto; }
  .column.large-centered,
  .columns.large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }
  .column.large-uncentered,
  .columns.large-uncentered {
    float: left;
    margin-left: 0;
    margin-right: 0; }
  .column.large-centered:last-child,
  .columns.large-centered:last-child {
    float: none; }
  .column.large-uncentered:last-child,
  .columns.large-uncentered:last-child {
    float: left; }
  .column.large-uncentered.opposite,
  .columns.large-uncentered.opposite {
    float: right; }
  .row.large-collapse > .column,
  .row.large-collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .row.large-collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .row.large-uncollapse > .column,
  .row.large-uncollapse > .columns {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    float: left; }
  .large-block-grid-1 > li {
    list-style: none;
    width: 100%; }
    .large-block-grid-1 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }
  .large-block-grid-2 > li {
    list-style: none;
    width: 50%; }
    .large-block-grid-2 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }
  .large-block-grid-3 > li {
    list-style: none;
    width: 33.33333%; }
    .large-block-grid-3 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }
  .large-block-grid-4 > li {
    list-style: none;
    width: 25%; }
    .large-block-grid-4 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }
  .large-block-grid-5 > li {
    list-style: none;
    width: 20%; }
    .large-block-grid-5 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }
  .large-block-grid-6 > li {
    list-style: none;
    width: 16.66667%; }
    .large-block-grid-6 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }
  .large-block-grid-7 > li {
    list-style: none;
    width: 14.28571%; }
    .large-block-grid-7 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; } }

h4, h6 {
  margin-top: 0;
  margin-bottom: 0; }

.highlight {
  color: #ffcc67 !important; }

#main {
  padding-bottom: 0; }

.print__font {
  font-size: x-small !important; }

#management-dashboard {
  color: #a7aeaf;
  font-size: xx-small; }
  #management-dashboard h1 {
    display: inline-block;
    font-size: 20px;
    font-weight: bold; }
    #management-dashboard h1 .location {
      text-transform: uppercase; }
    #management-dashboard h1 .campaign {
      font-weight: normal; }
  #management-dashboard h2 {
    display: inline-block;
    font-size: 12px;
    color: #759CB8 !important;
    padding: 0.7em; }
  #management-dashboard h3 {
    background: #334B61 !important;
    color: #FFFFFF !important;
    text-transform: uppercase;
    padding: 0;
    margin: 0; }
  #management-dashboard .title--wrap {
    font-size: x-small; }
  #management-dashboard .transit-point {
    margin-top: 70%; }
  #management-dashboard .chart {
    margin-bottom: 5px; }
  #management-dashboard .bullet-chart {
    margin: 2px 0; }
  #management-dashboard .pie-charts,
  #management-dashboard .pie-chart {
    margin: 0; }
  #management-dashboard .micro__text {
    font-size: 10px; }
  #management-dashboard table td {
    font-size: xx-small; }

.ie #management-dashboard {
  color: #a7aeaf;
  font-size: xx-small; }
  .ie #management-dashboard h4 {
    padding: 2px;
    font-size: 0.875rem; }
  .ie #management-dashboard .transit-points {
    right: 2em; }
  .ie #management-dashboard .map-legend {
    width: 60%; }

.logo {
  display: inline;
  height: 25pt;
  float: right; }
